.player-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-image-section {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0%
}

.player-accolades-section {
  margin-top: 10px;
}

.player-accolades-table {
  border: 1px solid #ddd;
  /* padding: 8px; */
  text-align: left;
}

.player-accolades-table th {
  background-color: rgb(1, 58, 104);
  font-weight: bold;
  font-size: .9em;
}
.player-accolades-table td{
  font-size: .9em;
}

.player-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.player-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.player-mini-logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

.player-stats-section {
  margin-bottom: 20px;
  margin-right: 5%;
}

.player-stat-headers {
  font-size: 1em;
}

/* Make tables scrollable horizontally */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  margin-bottom: 20px;
}

/* Ensure tables are responsive */
.table-responsive table {
  width: 100%;
  min-width: 600px; /* Minimum width to enable horizontal scrolling */
  margin: 0 auto;
  table-layout: auto; /* Allows columns to auto-size */
}

/* Adjust table cells for better readability */
.table-responsive th, 
.table-responsive td {
  text-align: center;
  padding: 12px; /* Increased padding for better legibility */
  font-size: 1em; /* Default font size for readability */
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .player-name {
    font-size: 1.2em;
  }

  .player-image {
    max-width: 150px;
  }

  .player-mini-logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .player-stat-headers {
    font-size: 1.1em;
  }

  .table-responsive table {
    min-width: 500px; /* Adjust minimum width if needed */
  }

  .table-responsive th, 
  .table-responsive td {
    padding: 10px; /* Increased padding for readability */
    font-size: 0.9em; /* Slightly smaller font size */
  }
}

@media (max-width: 480px) {
  .player-name {
    font-size: 1.5em;
  }

  .player-image {
    max-width: 100px;
  }

  .player-mini-logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
  }

  .player-stat-headers {
    font-size: 1em;
  }

  .table-responsive table {
    min-width: 300px; /* Adjust minimum width if needed */
  }

  .table-responsive th, 
  .table-responsive td {
    padding: 8px; /* Increased padding for readability */
    font-size: 0.8em; /* Further reduced font size for small screens */
  }
}
