.column {
    float: left;
    width: 25%;
  }

.column2 {
    float: right;
    width: 60%;
}

tr {
  font-size: 20px;
}

td {
  max-width: 10%;
}
th {
  max-width: 10%;
}

.h5{
  text-align: right;
}
