@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.minibats-container {
    margin: 0 13%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color:#ffffff;
}

.pitching-container {
    margin: 0 20%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    background-color:#ffffff;
}

.hockey-container {
    margin: 2% auto;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    background-color:#ffffff;
    max-width: fit-content;
}

.teams-container {
    margin: 0 20%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
}

.minibats-title {
    margin: 5% 0;
    font-family: inherit;
    text-align: center;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.minibats-table {
    border-collapse: collapse; /* Make borders look cleaner */
    width: 100%; /* Optional, makes table full width */
}

/* Add borders */
.minibats-table, 
.minibats-table th, 
.minibats-table td {
    border: 1px solid #ddd;
}

.minibats-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.minibats-table tbody tr:hover {
    background-color: #f1f1f1;
}


.hockey-table{
    max-width: fit-content;
}


.minibats-table th, .minibats-table td {
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    padding: 8px;
}

.minibats-table td:first-child, 
.hockey-table td:first-child, 
.hockey-table th:first-child{
    text-align: left;
    white-space: nowrap;
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
    border-right: 1px solid #dee2e6;
}

.minibats-table th:first-child
{
    text-align: left;
    white-space: nowrap;
    position: sticky;
    left: 0;
    z-index: 10;
    border-right: 1px solid #dee2e6;
    background: #013a68;
}

.minibats-table tbody tr:nth-child(odd) td:first-child {
    background-color: #f9f9f9;
}

.minibats-table tbody tr:hover {
    background-color: #f1f1f1;
}

.minibats-table tbody tr:hover td:first-child {
    background-color: #f1f1f1;
}

.table th:first-child {
    background: #013a68;
    color: white;
    border-right: 1px solid #dee2e6;
}



@media (max-width: 1024px) {
    .minibats-container {
        margin: 0 5%;
        margin-bottom: 8%;
        background-color:#ffffff;
    }
    
    .hockey-container {
        margin: 0 5%;
        margin-bottom: 5%;
        background-color:#ffffff;
    }

    .pitching-container {
        margin: 0 5%;
        margin-bottom: 5%;
        background-color:#ffffff;
    }
    
    .teams-container {
        margin: 0 5%;
        margin-bottom: 5%;
        background-color:#ffffff;
    }
    
    .minibats-title {
        font-size: 2rem;
    }

    .minibats-table th, .minibats-table td {
        font-size: 0.9rem;
        padding: 6px;
    }
}

@media (max-width: 768px) {
    .minibats-container {
        margin: 0 5%;
        margin-bottom: 10%;
        background-color:#ffffff;
    }
    
    .hockey-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color:#ffffff;
    }

    .pitching-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color:#ffffff;
    }

    .teams-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color:#ffffff;
    }

    .minibats-title {
        font-size: 1.5rem;
    }

    p {
        font-size: .9rem;
    }

    .minibats-table th, .minibats-table td {
        font-size: 0.8rem;
        padding: 5px;
    }

    .sort-button {
        padding: 0;
        margin-left: 4px;
    }
}

@media (max-width: 480px) {
    .minibats-title {
        font-size: 1.2rem;
    }


    .minibats-table th, .minibats-table td, .hockey-table th, .hockey-table td {
        font-size: 0.7rem;
        padding: 4px;
    }

    .sort-button {
        padding: 0;
        margin-left: 2px;
    }
}
