@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.minibats-container {
    margin: 0 5%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: #F4F4F4;
}

.pitching-container {
    margin: 0 15%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    background-color: #F4F4F4;
}

.hockey-container {
    margin: 0 20%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    background-color: #F4F4F4;
}

.teams-container {
    margin: 0 10%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.minibats-title {
    margin: 5% 0;
    font-family: inherit;
    text-align: center;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.minibats-table {
    min-width: 900px;
}

.pitching-table{
    min-width: 550px;
}

.hockey-table{
    min-width: 375px;
}


.minibats-table th, .minibats-table td {
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    padding: 8px;
}

.table td:first-child, .table th:first-child {
    position: sticky;
    left: 0;
    z-index: 10;
}

.table td:first-child {
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #dee2e6;
}

.table th:first-child {
    background: #013a68;
    color: white;
    border-right: 1px solid #dee2e6;
}

/* .sticky-column {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 100;
    border-right: 2px solid #ddd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0;
} */

@media (max-width: 1024px) {
    .minibats-container {
        margin: 0 5%;
        margin-bottom: 8%;
        background-color: #F4F4F4;
    }
    
    .hockey-container {
        margin: 0 5%;
        margin-bottom: 5%;
        background-color: #F4F4F4;
    }

    .pitching-container {
        margin: 0 5%;
        margin-bottom: 5%;
        background-color: #F4F4F4;
    }
    
    .teams-container {
        margin: 0 4%;
        margin-bottom: 5%;
        background-color: #F4F4F4;
    }
    
    .minibats-title {
        font-size: 2rem;
    }

    .minibats-table th, .minibats-table td {
        font-size: 0.9rem;
        padding: 6px;
    }
}

@media (max-width: 768px) {
    .minibats-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color: #F4F4F4;
    }
    
    .hockey-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color: #F4F4F4;
    }

    .pitching-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color: #F4F4F4;
    }

    .teams-container {
        margin: 0 2%;
        margin-bottom: 10%;
        background-color: #F4F4F4;
    }

    .minibats-title {
        font-size: 1.5rem;
    }

    p {
        font-size: .9rem;
    }

    .minibats-table th, .minibats-table td {
        font-size: 0.8rem;
        padding: 5px;
    }

    .sort-button {
        padding: 0;
        margin-left: 4px;
    }
}

@media (max-width: 480px) {
    .minibats-title {
        font-size: 1.2rem;
    }

    .minibats-table th, .minibats-table td {
        font-size: 0.7rem;
        padding: 4px;
    }

    .sort-button {
        padding: 0;
        margin-left: 2px;
    }
}
