.tourney-card-container {
  margin: 20px auto; /* Center the container horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a more polished look */
  background-color:#ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

.tourney-image-section {
  text-align: center;
  margin-bottom: 20px;
}

.tourney-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.tourney-info-section {
  margin-bottom: 20px;
}

.tourney-info-table, .tourney-games-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tourney-info-table th, .tourney-info-table td,
.tourney-games-table th, .tourney-games-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tourney-info-table th, .tourney-games-table th {
  background-color: rgb(1, 58, 104);
}

.tourney-games-section {
  margin-top: 20px;
}

.tourney-games-table th, .tourney-games-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tourney-card-container {
    padding: 10px;
    margin: 10px; /* Reduce margin on smaller screens */
    max-width: 100%; /* Ensure the card takes full width on mobile */
    box-shadow: none; /* Remove shadow for a cleaner mobile look */
  }

  .tourney-info-table th, .tourney-info-table td,
  .tourney-games-table th, .tourney-games-table td {
    padding: 5px; /* Reduce padding to save space on smaller screens */
    font-size: 0.8em;
  }
}
