thead {
    text-align: center;
    background-color: rgb(1, 58, 104);
    color: white;

}

th {
    text-align: center;

  }
  td {
    text-align: center;

  }
  .tourney-container {
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color:#ffffff;
    margin: 2% auto;
    max-width: fit-content;
}

.title {
    margin: 2% 0;
    font-family: inherit;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
}

.table-responsive {
    overflow-x: auto;
}



@media (max-width: 1024px) {
    .tourney-container {
        margin: 0 10%;
        margin-bottom: 10%;
    }

    .tourney-title {
        font-size: 5rem;
    }

}

@media (max-width: 768px) {
    .tourney-container {
        margin: 0 2%;
        margin-bottom: 10%;
    }

    .tourney-title {
        font-size: 1.5rem;
    }

}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }
}
