thead {
    text-align: center;
    background-color: rgb(1, 58, 104);
    color: white;

}
th {
    text-align: center;

  }
  td {
    text-align: center;

  }
  .tourney-container {
    margin: 0 5%;
    margin-bottom: 5%;
}

.title {
    margin: 5% 0;
    font-family: inherit;
    text-align: center;
}

.table-responsive {
    overflow-x: auto;
}

.tourney-table th, .tourney-table td {
    text-align: center;
    vertical-align: middle;
}

.tourney-table{
    min-width: 350px;
}


@media (max-width: 768px) {
    .tourney-container {
        margin: 0 2%;
        margin-bottom: 10%;
    }

    .tourney-title {
        font-size: 1.5rem;
    }

    .tourney-table th, .tourney-table td {
        font-size: 0.8rem;
    }

    .sort-button {
        padding: 0;
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }

    .tourney-table th, .tourney-table td {
        font-size: 0.6rem;
    }

    .sort-button {
        padding: 0;
        margin-left: 2px;
    }
}
