thead {
    text-align: center;
    background-color: rgb(1, 58, 104);
    color: white;

}
th {
    text-align: center;

  }
  td {
    text-align: center;

  }
  .tourney-container {
    margin-bottom: 5%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color:#ffffff;
    margin: 2% auto;
    max-width: fit-content;
}

.title {
    margin: 2% 0;
    font-family: inherit;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
}

.table-responsive {
    overflow-x: auto;
}

.tourney-table th, .tourney-table td {
    text-align: center;
    vertical-align: middle;
}

.tourney-table td:first-child, 
.tourney-table th:first-child {
    text-align: left;
    white-space: nowrap;
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
    border-right: 1px solid #dee2e6;
}

.tourney-table th:first-child{
    background: #013a68;
}
.tourney-table{
    min-width: 350px;
}

@media (max-width: 1024px) {
    .tourney-container {
        margin: 0 10%;
        margin-bottom: 10%;
    }

    .tourney-title {
        font-size: 5rem;
    }

    .tourney-table th, .tourney-table td {
        font-size: 0.8rem;
    }

    .sort-button {
        padding: 0;
        margin-left: 5px;
    }
}

@media (max-width: 768px) {
    .tourney-container {
        margin: 0 2%;
        margin-bottom: 10%;
    }

    .tourney-title {
        font-size: 1.5rem;
    }

    .tourney-table th, .tourney-table td {
        font-size: 0.8rem;
    }

    .sort-button {
        padding: 0;
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }

    .tourney-table th, .tourney-table td {
        font-size: 0.6rem;
    }

    .sort-button {
        padding: 0;
        margin-left: 2px;
    }
}
