@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

h2 {
    color: #444;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    
}

/* About Section */
#about {
    background-color: #ffffff;
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

#about p {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Photo Gallery */
#gallery {
    margin: 40px auto;
    max-width: 900px;
    padding: 10px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
